
{% extends 'base.html' %}

{% block title %}Password Reset Email{% endblock title %}

{% block content %}

<div class="container d-flex justify-content-center align-items-center">
  <div class="card mt-4 bg-light shadow-md p-md-3" style="width: 400px;">
      
      <div class="card-body">

          <h1 class="mb-3 fs-4 fw-medium">Forget password</h1>
          <p class="text-lead mb-4">Enter your email and we'll send you a link to reset your password</p>

          <form autocomplete="off" method="post" id="profile-form">                
              {% csrf_token %}
              <div class="form-group mb-3">
                  <input name="email" class="form-control" placeholder="Email address" type="email" id="id_email"
                  required="true" autofocus>
              </div>
              <button id="id_submit_btn" class="btn btn-primary btn-block w-100">Submit</button>
          </form>
      </div>
  </div>
</div>
{% endblock content %}